.header-wrapper {
    background-color: #FFF;
}
.header-bt-margin {
    margin-bottom: 0px;
    padding: 0 15px;
}
.tab-wrapper {
    margin: 6em 0;
}
.content-wrapper {
    width:100%; 
    height:30em;
    background-color: #f4f4f4;
}
iframe {
    background-color: #fff;
}

/* Small devices (tablets, 768px and lower) */
@media (max-width: 768px) { 
    .content-wrapper {
        height:20em;
    }
}