body, 
html,
.main-wrapper,
.tab-pane,
.content-wrapper {
    height: 100%;
}
.main-wrapper {
    height: 100%;
}
.tab-content {
    height: 55%;
}
.tab-wrapper {
    margin-top: 12em;
    height: 100%; 
}
.header-bt-margin {
    margin-bottom: 0px;
    padding: 0 15px;
}
.header-wrapper {
    background-color: #fff;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.brand-header {
    margin: 67px 0;
}
.brand-header-logo {
    width: 150px;
    position: absolute;
    right: 0;
}
iframe {
    background-color: #fff;
}
